<div class="col-md-6 form-inline">
  <div class="container-wrapper">
    <div class="form-group">
      <input 
        type="text"
        class="form-control"
        id="search"
        placeholder="Search ingredients..."
        ng-model="vm.query">
    </div>
  </div>
  <div class="jumbotron">
    <ul>
      <li ng-repeat="item in vm.ingredients | filter:vm.query" class="vanish">
        <div class="col-md-9 item-cell">{{item.name}}</div>
			  <div class="col-md-3">
				  <button ng-click="vm.removeItem($index, item, 'ingredients')" class="btn-info">+</button>
			  </div>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group text-center">
    <h5>Your Recipe</h5>
  </div>
  <div class="jumbotron">
    <ul>
      <li ng-repeat="item in vm.recipeItems" class="vanish">
        <div class="col-md-9 item-cell">{{item.name}}</div>
			  <div class="col-md-3">
				  <button ng-click="vm.removeItem($index, item)" class="btn-danger">x</button>
			  </div>
      </li>     
    </ul>
  </div>
</div>
<div class="form-group col-md-12 text-center">
  <button
    class="btn btn-success"
    ng-click="vm.saveRecipe()"
    ng-disabled="vm.recipeItems.length === 0">Save Recipe
  </button>
</div>
